*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.section-1{
    padding-left: 7vw;
    padding-right: 7vw;
    background-image: url("images/#hero-cover.3.png");
    height: 100vh;
    background-size: cover;
}


/* Project-Primary-Color: #23A6F0
Background-Color: #252B42
Font type: Montserra */

/* Rows and column design*/

.row::after{
    content: "";
    clear: left;
    display: table;
}

[class*="column-"]{
    float: left;
    padding: 10px;
}

.column-third{
    width: 33.33%;
}

.column-half{
    width: 50%;
}
.column-quoter{
    width: 25%;
}

.column-three-quoter{
    width: 75%;
}

.column-fidth{
    width: 18%;
}


/*Desigining the header*/
.company-name{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links ul{
    list-style: none;
}

.links li{
    display: inline-block;
    padding-left: 3vw;
}

.links a{
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 8px;
}

.links a:hover{
    color: #23A6F0;
    background-color: wheat;
    transition: 1s;
}

.login{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login p a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    border-radius: 7px;

}

.login p a:hover{
    color: #23A6F0;
    background-color: wheat;
    transition: 1s;
}

.login-btn{
    padding: 15px;
    border: none;
    border-radius: 7px;
    background-color: #23A6F0;
    font-size: 1.2vw;
    color: white;
}

.login-btn:hover{
    background-color: wheat;
    color: #23A6F0;
    transition: 1s;
}

/* Stying the info area*/

.welcome{
    align-items: center;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
    
}

.welcome h1{
    font-size: 5vw;
}

.welcome h4{
    font-family: monospace;
}

.more-btn{
    padding-top: 3vw;
    justify-content: space-around;

}

.more-btn .button-1{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #23A6F0;
}

.more-btn .button-2{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgba(0, 0, 0, .01);
    margin-left: 5vw;
}




/* Styling the info cards*/

.more-info{
    padding-bottom: 8vw;
}
.card{
    padding:2vw 5vw 2vw 5vw;

    box-shadow: 0px 4px 7px rgba(0, 0, 0, .3);
}

.last{
    background-color: #23A6F0;
    color: white;
}
.first{

}


/*Life*/

.life-section{
    padding: 11vw;
}

.life-content{
    text-align: center;
}


/* Industry Section*/
.industry-section{
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 20vh;
}

.heder{
    text-align: center;
    padding-bottom: 10vh;
}


.contact-card{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, .3);
    max-width: 90%;
    padding: 3vw;
    position: relative;
    text-align: center;
    
}
.contact-card img{
    max-height: 12vw;
}

.social-media{
    padding-right: 7vw;
    padding-left: 7vw;
    justify-content: space-around;
    padding-bottom: 3vw;
}

.social-icons{
    display: flex;
    justify-content: space-around;
}
.social-icons img{
    max-height: 4vw;
    justify-content: space-around;
    display: inline-block;
}

.subscription{
    padding-left: 7vw;
    padding-right: 7vw;
}
.newsletter{
    background: linear-gradient(100deg, #252B42, #4d2245);
    padding-left: 3vw;
}

.newsletter h2{
    color: white;
}

.newsletter p{
    float: right;
    padding-right: 5vw;
    border-radius: 20px;
}

.newsletter input{
    height: 3vw;
    text-align: center;
    border: none;
}
.newsletter button{
    height: 3vw;
    width: 7vw;
    border: none;
    text-align: center;
    background-color: #23A6F0;
}

.newsletter button:hover{
    background-color: wheat;
    color: #23A6F0;
    transition: 1s;
}


/*Pricing section*/

.pricing{
    margin: 0;
    padding-left: 17vw;
    padding-right: 17vw;
    padding-top: 15vh;
    padding-bottom: 15vh;

}
.card-price{
    border: 1px solid #23A6F0;
    padding: 15px;
    border-radius: 5px;
    padding-bottom: 3vw;
}

.price-tag{
    padding-top: 4vw;
}

.price-header{
    text-align: center;

}
.card-content{
    text-align: center;
}

.card-content h1{
    color: #23A6F0;
    font-size: 40px;
}

.zero{
    padding: 0.5px;
}

.long{
    padding-top: 5.4vw
}

.short{
    margin-top: 4.6vw;
}

.card-content button{
    width: 75%;
    background-color: #23A6F0;
    border: none;
    border-radius: 5px;
    font-size: 1vw;
    margin-top: 1.5vw;
    padding: 10px;
    color: white;
}

.card-content button:hover{
    background-color: wheat;
    color: #23A6F0;
    transition: 1s;
}

.cl-card{
    background-color: #252B42;
    color: white;
}

sup{
    font-size: 10px;
}

sub{
    font-size: 10px;
    vertical-align: 0;
    margin: 0;
    padding: 0;
}

/* Styling branches*/

.branches{
    padding-left: 8vw;
    padding-bottom: 3vw;
    padding-right: 8vw;
    background-size: 1vw;
    background-color: #252B42;
    background-position: 5vw;
    background: linear-gradient(180deg, #252B42 70%, #f2f2f2 30%);

}

.map{
    padding-top: 3vw;
}

.world-map img{
    max-width: 20vw;
    float: right;
}


/* Form */

.forms{
    padding: 5vw;
    justify-content: center;
    text-align: center;
}

.forms img{
    max-height: 37vw;
}

.form-content{
    display: flex;
    justify-content: center;
}
form{
    display: block;
    padding: 25px;
    width: 30vw;
    background-color: white;
}
form input, select{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #f2f2f2
} 


form label{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 350;

}

form button{
    padding: 10px;
    background-color: #23A6F0;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}

form button:hover{
    background-color: wheat;
    color: #090d0f;
    transition: 1s;
    cursor: pointer;
}


.contact-area button{
    float: right;
    padding: 10px;
    background-color: #23A6F0;
    border: none;
    border-radius: 5px;
    margin-right: 10vw;
}

.btn-hover:hover{
    background-color: wheat;
    color: #23A6F0;
    transition: 1s;
}

.details{
    padding-left: 8vw;
    padding-right: 8vw;
}






